.ui-back{
  height: 56px;
  padding: 16px 0;
  display: flex;
  align-items: center;
  svg{
    position: absolute;
    margin: 19px 24px;
  }
  b{
    margin-left: 5px;
    padding-left: 56px;
  }
}

@media all and (max-width: 565px){
  .ui-back{
    height: 32px;
    width: unset;
    max-width: 110px;
    border-radius: 2px;
    padding: 0 6px;
    margin: 0;
    @include box-shadow(15%);
    svg{
      margin: 8px 16px;
    }
    b{
      padding-left: 48px;
      margin: 0;
    }
  }
}