.ui-loading{
  width: 100%;
  height: 45vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .ui-loading-inner {
    display: inline-block;
    position: relative;
    width: 20px;
    height: 20px;
  }
  .ui-loading-inner {
    div {
      box-sizing: border-box;
      display: block;
      position: absolute;
      width: 16px;
      height: 16px;
      margin: 2px;
      border-radius: 50%;
      animation: loading 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
      border: 2px solid var(--var-color-gray);
      border-color: var(--var-color-gray) transparent transparent transparent;
      &:nth-child(1) {
        animation-delay: -0.45s;
      }
      &:nth-child(2) {
        animation-delay: -0.3s;
      }
      &:nth-child(3) {
        animation-delay: -0.15s;
      }
    }
  }
  @keyframes loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}