.ui-search{
  svg{
    position: absolute;
    margin: 19px 24px;
  }
  input{
    @include box-shadow(7%);
    height: 56px;
    padding: 16px;
    padding-left: 64px;
    border-radius: 5px;
    width: 100%;
  }
}
@media all and (min-width: 767px){
  .ui-search{
    input{
      width: 480px;
    }
  }
}
