.c-detail-image{
  img{
    @include box-shadow(4%);
    height: 400px;
    max-width: 80%;
    border-radius: 10px;
  }
}
.c-detail-description,
.c-item-description-items{
    width: 100%;
  }
.c-detail-description{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  .c-item-description-items{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;
    margin-bottom: 32px;
    .c-item-description-item{
      width: 100%;
      display: flex;
      min-height: 32px;
      align-items: flex-start;
      p{
        margin-left: 5px;
      }
    }
  }
}
.c-detail-borders{
  display: flex;
  height: 32px;
  align-items: flex-start;
  flex-basis: 24%;
  .c-detail-borders-items{
    flex-basis: 76%;
    display: flex;
    flex-wrap: wrap;
    padding-left: 10px;
  }
  a{
    @include box-shadow(10%);
    height: 28px;
    display: flex;
    align-items: center;
    padding: 0 16px;
    margin: 0 8px 8px 0px;
    border-radius: 2px;
    &:hover{
      @include box-shadow(25%);
    }
  }
}
@media all and (max-width: 565px){
  .c-detail-image{
    img{
      height: unset;
      max-width: 100%;
      width: 100%;
    }
  }
  .c-detail-description{
    .c-item-description-items{
      width: 100%;
    }
  }
  .c-detail-borders{
    flex-wrap: wrap;
    .c-detail-borders-items{
      padding: 20px 0;
    }
  }
}