.c-item{
  margin-bottom: 80px;
  font-size: 14px;
  cursor: default;
  img{
    height: 160px;
    width: 100%;
  }
  .c-item-wrapper{
    @include box-shadow(8%);
    cursor: pointer;
    border-radius: 5px;
    overflow: hidden;
    max-width: 264px;
    background: var(--var-color-white);
    h4{
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .c-item-short-description{
      padding: 24px;
      .c-item-short-description-items{
        padding: 16px 0;
        .c-item-short-description-item{
          display: flex;
          align-items: center;
          height: 24px;
          p{
            margin-left: 5px;
          }
        }
      }
    }
  }
}
@media all and (max-width: 565px){
  .c-item{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
  }
}