<script lang="ts">
import { useCountriesStore } from '@/store'
import { ParamsGet } from "@/api";
import { defineComponent } from 'vue'
const store = useCountriesStore();
export default defineComponent({
  beforeRouteEnter(to) {
    store.getCodes()
    store.getCountry(to.params as any as ParamsGet)
  },
  beforeRouteUpdate(to){
    store.getCountry(to.params as any as ParamsGet)
  },
  beforeRouteLeave(){
    store.setDefault()
  },
  setup(){
    return { store }
  }
})
</script>
<template>
  <main>
    <ui-back/>
    <ui-loading v-if="store.loading"/>
    <c-detail 
      :country="store.country" 
      :borders="store.countryBorders" 
      v-else
    />
  </main>
</template>
