<script lang="ts">
import { useCountriesStore } from '@/store'
import { defineComponent } from 'vue'
const store = useCountriesStore();
export default defineComponent({
  beforeRouteEnter() {
    store.getCodes();
    store.getCountries();
  },
  setup(){
    return { store }
  },
})
</script>
<template>
  <main class="main">
    <ui-search 
      :name="store.name" 
      @setName="store.setName"
      @getCountries="store.getCountries" 
    />
    <ui-empty v-if="store.empty"/>
    <ui-loading v-if="store.loading"/>
    <c-list :countries="store.countries" v-else/>
  </main>
</template>
