:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html, body{
  font-family: 'Nunito Sans', system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: var(--var-color-dark-blue);
  background-color: var(--var-color-white);
}
main, .container{
  width: 100%;
  &.main{
    background: var(--var-color-light-gray);
    min-height: calc(100vh - 80px);
  }
}
.-top{
  padding-top: 60px;
  padding-bottom: 60px;
}
@media all and (max-width: 565px){
  .-top{
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .row{
    padding-left: 20px;
    padding-right: 20px;
  }
}
