h1{
  font-size: 32px;
  font-weight: 800;
  margin-top: 32px;
  margin-bottom: 32px;
}
h2 {
  filter: var(--var-text-shadow);
  font-weight: 800;
  font-size: 24px;
}
h4{
  font-weight: 800;
  font-size: 16px;
}
label{
  font-weight: 600;
  line-height: 1.5;
  white-space: nowrap;
}
p{
  font-weight: 300;
}
input{
  font-size: 14px;
}
svg{
  width: 18px;
  height: 18px;
}
@media all and (max-width: 565px){
  h1{
    font-size: 22px;
  }
  h2, label, p, a{
    font-size: 14px;
  }
}