:root {
  --var-color-white: hsl(0, 0%, 100%);
  --var-color-light-gray: hsl(0, 0%, 98%);
  --var-color-gray: hsl(0, 0%, 52%);
  --var-color-dark-blue: hsl(200, 15%, 8%);
  --var-text-shadow: drop-shadow(0 4px 4px hsla(200, 15%, 8%, 25%));
}

@mixin box-shadow($percent){
  box-shadow: 0 2px 4px 0px hsla(179, 100%, 0%, $percent);
}
