<script lang="ts">
import { defineComponent, PropType } from 'vue'
import type { Country, CountryBorder } from '@/store'
import { formatNumber } from '@/utils'
export default defineComponent({
  props: {
    country: {
      type: Object as PropType<Country>,
      required: true
    },
    borders: {
      type: Array as PropType<CountryBorder[]>,
      required: true
    }
  },
  computed: {
    population(){
      return formatNumber(this.country.population)
    },
    topLevelDomain(){
      return this.country.topLevelDomain?.join(', ')
    },
    currencies(){
      return this.country.currencies?.map(c => c.name).join(', ')
    },
    languages(){
      return this.country.languages?.map(l => l.name).join(', ')
    },
  },
})
</script>
<template>
  <div class="container">
    <div class="row" v-if="country.alpha3Code">
      <div class="col-md-6 col-lg-6 col-xs-12">
        <ui-image class="c-detail-image" :src="country.flag"/>
      </div>
      <div class="col-md-6 col-lg-6 col-xs-12">
        <h1>{{ country.name }}</h1>
        <div class="c-detail-description">
          <div class="c-item-description-items">
            <div class="c-item-description-item">
              <label>Native name:</label>
              <p>{{ country.nativeName }}</p>
            </div>
            <div class="c-item-description-item">
              <label>Population:</label>
              <p>{{ population }}</p>
            </div>
            <div class="c-item-description-item">
              <label>Region:</label>
              <p>{{ country.region }}</p>
            </div>
            <div class="c-item-description-item">
              <label>Sub Region:</label>
              <p>{{ country.subregion }}</p>
            </div>
            <div class="c-item-description-item">
              <label>Capital:</label>
              <p>{{ country.capital }}</p>
            </div>
          </div>
          <div class="c-item-description-items">
            <div class="c-item-description-item">
              <label>Top Level Domain:</label>
              <p>{{ topLevelDomain }}</p>
            </div>
            <div class="c-item-description-item">
              <label>Currencies:</label>
              <p>{{ currencies }}</p>
            </div>
            <div class="c-item-description-item">
              <label>Languages:</label>
              <p>{{ languages }}</p>
            </div>
          </div>
        </div>
        <div class="c-detail-borders" v-if="borders?.length">
          <label>Border Countries:</label>
          <div class="c-detail-borders-items">
            <router-link 
              v-for="border of borders" 
              :key="border.title" 
              :to="border">
              {{ border.title }}
            </router-link>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
