<script lang="ts">
import { defineComponent, PropType } from 'vue'
import { RouteNames, formatNumber } from '@/utils'
import type { Country } from '@/store'
export default defineComponent({
  props: {
    country: {
      type: Object as PropType<Country>,
      required: true
    },
  },
  computed: {
    population(){
      return formatNumber(this.country.population)
    },
    to() {
      const { alpha3Code } = this.country
      return {
        name: RouteNames.COUNTRY,
        params: { alpha3Code }
      }
    }
  },
})
</script>
<template>
  <router-link :to="to" class="c-item col-xs-12 col-lg-3 col-md-4 col-sm-6">
    <div class="c-item-wrapper">
      <ui-image :src="country.flag"/>
      <div class="c-item-short-description">
        <h4>{{ country.name }}</h4>
        <div class="c-item-short-description-items">
          <div class="c-item-short-description-item">
            <label>Population:</label>
            <p>{{ population }}</p>
          </div>
          <div class="c-item-short-description-item">
            <label>Region:</label>
            <p>{{ country.region }}</p>
          </div>
          <div class="c-item-short-description-item">
            <label>Capital:</label>
            <p>{{ country.capital }}</p>
          </div>
        </div>
      </div>
    </div>
  </router-link>
</template>
