<script lang="ts">
import { defineComponent, PropType } from 'vue'
import type { Country } from '@/store'
export default defineComponent({
  props: {
    countries: {
      type: Array as PropType<Country[]>,
      required: true
    },
  },
})
</script>
<template>
  <div class="container">
    <div class="row">
      <c-item 
        v-for="country of countries" 
        :key="country.alpha3Code" 
        :country="country"
      />
    </div>
  </div>
</template>
