<script lang="ts">
import { defineComponent } from 'vue'
import { RouteNames } from '@/utils'
export default defineComponent({
  computed: {
    to() {
      return {
        name: RouteNames.INDEX,
      }
    }
  },
})
</script>
<template>
  <div class="container -top">
    <div class="row">
      <div class="col">
        <router-link :to="to" class="ui-back">
          <i-arrow-left/>
          <b>Back</b>
        </router-link>
      </div>
    </div>
  </div>
</template>
