<template>
  <header>
    <div class="container">
      <div class="row align-items-center">
        <div class="col align-self-center">
          <h2>Where in the world?</h2>
        </div>
      </div>
    </div>
  </header>
</template>
