<script lang="ts">
import { defineComponent } from 'vue'
import { defaultImage } from '@/utils'
export default defineComponent({
  props: {
    src:{
      type: String,
      required: true,
    },
    alt:{
      type: String,
      required: false,
    }
  },
  setup(){
    return { defaultImage }
  }
})
</script>
<template>
  <div class="ui-image">
    <img 
      v-lazy-image 
      :alt="alt" 
      :data-src="src" 
      :src="defaultImage" 
    />
  </div>
</template>
