<script lang="ts">
import { defineComponent } from 'vue'
import { CountriesActionNames as CAN } from "@/store"
export default defineComponent({
  props: {
    name: {
      type: String
    }
  },
  setup(props, ctx){
    let timeout: null | NodeJS.Timeout = null;
    let name = props.name;
    function handleInput(evt: any & { target: HTMLInputElement }) {
      if (timeout){ 
        clearTimeout(timeout) 
      }
      name = evt.target.value;
      timeout = setTimeout(() => {
          ctx.emit(CAN.SET_NAME, { name })
          ctx.emit(CAN.GET_COUNTRIES)
        }
      , 600)
    }
    return { handleInput }
  }
})
</script>
<template>
  <div class="container -top">
    <div class="row">
      <div class="col">
        <div class="ui-search">
          <i-search/>
          <input 
            @paste="handleInput" 
            @keyup="handleInput" 
            :value="name" 
            placeholder="Search for a country…" 
          />
        </div>
      </div>
    </div>
  </div>
</template>
